* {
    margin: 0;
    padding: 0;
}

/*header*/
.container-header {
    background: rgb(173, 206, 255);
    padding: 15px;
    margin: 15px;
    display: grid;
    grid-template-areas: 
    "logo . . nav";
    border: 1px solid rgb(29, 50, 83);  
    font-weight: 600;
}

.grid-items-header {
    background: cornflowerblue;
    padding: 7px;
    color: black;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    border: 1px solid rgb(29, 50, 83);
}

.logo {
    grid-area: logo;
}
.nav {
    grid-area: nav;
}
 /*body*/
.container {
    background: rgb(173, 206, 255);
    padding: 15px;
    margin: 15px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid rgb(29, 50, 83);
}
.grid-items {
    background: cornflowerblue;
    padding: 15px;
    color: black;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid rgb(29, 50, 83);
    border: 1px solid rgb(29, 50, 83);
    background: cornflowerblue;
}


img {
   max-width: 100%;
   height: auto;

}
.one {
    grid-column: 1/5;
}

.two, .four, .six{
    grid-column: 1/3;
}
.three, .five, .seven {
    grid-column: 3/5 ;
}


/*footer*/
footer {
    background: cornflowerblue;
    padding: 15px;
    margin: 15px;
    border: 1px solid rgb(29, 50, 83);
    text-align: center;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

/* mobil */
@media screen and (max-width: 785px) {
    .logo {
       width: 50px;
    }
}
/* tablet */
@media screen and (min-width: 785px) {
    .logo {
        width: 50px;
     } 
     .container {
        background: rgb(173, 206, 255);
        padding: 15px;
        margin: 15px;
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        border: 1px solid rgb(29, 50, 83);
    }
     .one {
        grid-column: 1/5;
    }
    .two, .five {
        grid-column: 1/2;
    }
    .three, .six {
        grid-column: 2/3;
    }
    .four, .seven{
        grid-column: 3/4;
    }
}

/* desktop */
@media screen and (min-width: 1089px) {
    .logo {
        width: 50px;
     }
     .container {
        background: rgb(173, 206, 255);
        padding: 15px;
        margin: 15px;
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        border: 1px solid rgb(29, 50, 83);
    }
    .grid-items {
        background: cornflowerblue;
        padding: 15px;
        color: black; }
     .one {
        grid-column: 1/3;
        grid-row: span 2;
    }
    
    .two {
        grid-column: 3/5;
        grid-row: 2/2; 
    }

    .three {
        grid-column: 1/2;
        grid-row: 4/4;
    }

    .four {
        grid-column: 2/5;
        grid-row: span 2;
    }
    .six {
        grid-column: 2/3;
    }
}

